
/* Media Queries para responsividad */

@media (max-width: 1200px) {
    
    .header {
        padding: 10%;        
    }

    .header_menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        text-align: center;
        padding: 5%;
    }

    .presentacion_contenido {
        width: auto;
    }
    
}

@media(max-width: 768px) {
    .presentacion {
        padding: 2% 5%;
    }
    .presentacion_contenido {
        width: auto;
        max-width: 100%;
    }
}